@{
    Layout = null;
}
@using JobBoard.Models.ViewModels
@model JobBoard.Models.ViewModels.CompanyListingViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobby - Our Listings</title>
    <link rel="stylesheet" href="~/css/company/ourListings.css" asp-append-version="true" />
</head>
<body style="font-family: 'Poppins', sans-serif;">
    @await Html.PartialAsync("~/Views/sidebarCompany.cshtml", new CompanyDashboardViewModel(){user = Model.user})

    <div class="main-content">
        <div class="page-header">
            <h1 class="section-title">Our Job Listings</h1>
        </div>

        <div class="listings-table">
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Location</th>
                        <th>Applications</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var listing in Model.listingsByCompany)
                {
                    <tr>
                        <td>@listing.title</td>
                        <td>@listing.jobType.jobType</td>
                        <td>@(listing.Applications?.Count ?? 0)</td>
                        <td>
                            @if (listing.status.Equals("Active"))
                            {
                                <span class="status active">@listing.status</span>
                            }
                            else
                            {
                                <span class="status closed">@listing.status</span>
                            }
                        </td>
                        <td>
                            <a asp-controller="OurListings" asp-action="EditListing" asp-route-id="@listing.Id" class="action-button edit-button">Edit</a>
                            <a asp-controller="OurListings" asp-action="ViewListing" asp-route-id="@listing.Id" class="action-button view-button" asp-route-id="@listing.Id">View</a>

                         @if (@listing.status.Equals("Closed"))
                            {
                                <a asp-controller="OurListings" asp-action="ChangeStatus" asp-route-id="@listing.Id" class="action-button edit-button"> Open</a>
                            }
                         else
                         {
                             <a asp-controller="OurListings" asp-action="ChangeStatus" asp-route-id="@listing.Id" class="action-button close-button"> Close</a>
                         }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html> 